name: stops_sg
description: A Flutter application that displays live bus timings for bus stops in Singapore

version: 0.7.0+17

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  after_layout: ^1.1.0
  animations: ^2.0.2
  android_alarm_manager_plus: ^2.0.3
  auto_size_text: ^3.0.0
  cupertino_icons: ^1.0.4
  edit_distance: ^0.5.0-nullsafety.0
  expandable: ^5.0.1
  flutter_keyboard_visibility: ^5.1.0
  flutter_launcher_icons: ^0.9.2
  flutter_local_notifications: ^9.1.4
  flutter_nfc_kit: 3.0.0 # ^3.2.0 causes release build to fail
  flutter_svg: ^1.0.0
  google_fonts: ^2.1.0
  google_maps_flutter: ^2.1.1
  implicitly_animated_reorderable_list: ^0.4.2
  latlong2: ^0.8.1 
  location: ^4.3.0
  package_info: ^2.0.2
  path: ^1.8.0
  provider: ^6.0.1
  quick_actions: ^0.6.0+8
  rubber: ^1.0.1
  shared_preferences: ^2.0.9
  shimmer: ^2.0.0
  sqflite: ^2.0.1
  url_launcher: ^6.0.17

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4

flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/icon/icon.png"
  adaptive_icon_foreground: "assets/images/icon/icon_fg.png"
  adaptive_icon_background: "assets/images/icon/icon_bg.png"

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
  assets:
    - assets/fonts/
    - assets/images/bus-stop.svg
    - assets/images/pin.svg
    - assets/images/pin-outline.svg
    - assets/images/icon/
    - assets/secrets.json
    - assets/maps/map_style_dark.json
